[submodule "terraform/modules/ecs"]
	path = terraform/modules/ecs
	url = https://github.com/LINKIT-Group/aws-ecs.git 
[submodule "terraform/modules/code-pipeline"]
	path = terraform/modules/code_pipeline
	url = https://github.com/LINKIT-Group/aws-code-pipeline.git 
